.optionStyle {
  width: 100%;
  padding: 0 0.8rem;

  height: 3.4rem;
  border-radius: 8px;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  
  &:hover {
    filter: brightness(0.8);
  }
}